<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(~{::title} )">
    <title>Login • Dreamfit</title>
</head>
<body>
<div th:replace="template::top-bar"></div>
<div th:replace="template :: main(~{:: div.maincontent})">

    <div class="maincontent d-flex flex-nowrap p-lg-3" style="height: 100%; width: 100%;
     background-image: url('img/1189764.jpg'); background-size: cover; border: 1px solid #b8b8b8;
     border-radius: 0.5rem;">
        <div class="mr-auto  align-self-center" style="margin-left: 5rem;">
            <div class="row d-flex justify-content-start form">
                <div class=" mb-5 mb-md-0">
                    <div class="col-md-11 mb-2" id="errorr" style="color: #a55444; font-size: 0.8em">
                        <div class="alert alert-danger col-md-12 mb-3" role="alert"
                             th:if="${error}">Invalid Username or Password!
                        </div>
                    </div>
                    <div class="alert alert-info col-md-11 mb-3" role="alert" th:if="${param.logout}">
                        You've been logged out successfully
                    </div>
                    <div class="alert alert-danger col-md-11 mb-3" role="alert" th:if="${param.error}">
                        Invalid credentials
                    </div>
                    <div class="alert alert-success col-md-11 mb-3" role="alert" th:if="${param.signedup}">
                        Signed up successfully
                    </div>
                    <div class="col-md-11 mb-3" style="background: #eeeeee">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message"></div>
                    </div>
                    <form class="form" method="post" th:action="@{/login}">
                        <div class="col-md-11 form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control"
                                   data-msg="Incorrect email"
                                   data-rule="email"
                                   id="email" name="username"/>
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-11 form-group">
                            <label for="password">Password</label>
                            <input class="form-control"
                                   data-msg="Enter a valid password <br>((8+ digit or latin characters)"
                                   data-rule="pwrd"
                                   id="password"
                                   name="password"
                                   type="password">
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input class="pretty-button d-block w-100 submit-button" disabled="disabled" type="submit"
                                   value="SIGN IN">
                        </div>
                        <div class="col-md-12 form-group">
                            <span>Don't have an account? <a style="color:#34ce57"
                                                            th:href="@{/signup}">SIGN UP</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts(~{::script})">  <!--(~{::script})-->
</div>
</body>
</html>
